###> symfony/framework-bundle ###
.env
/public/bundles/
/public/build/
/node_modules/
/var/
/vendor/
/.idea/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
/RpnBundle/

